<div class="animate fadeIn fast vision-container">
    <div class="animate fadeIn fast vision-text">
      <h1>VISIÓN</h1>
      <hr>
      <p>
        Ser la empresa referente y mantener la posición de liderazgo en su mercado, manteniendo unos volúmenes que le proporcionen una rentabilidad adecuada para la continuidad de la misma. Ser una empresa gallega de referencia en el sector automotriz en calidad, tecnología, infraestructura, capital humano, rentabilidad y solidez financiera, excediendo las expectativas de clientes, empleados y proveedores.
      </p>
    </div>
    <div class="animate fadeIn fast vision-image">
      <img src="assets/img/ferrari.png" alt="Imagen de visión">
    </div>
</div>
<div class="animate fadeIn fast mission-container">
    <div class="animate fadeIn fast mission-image">
      <img src="assets/img/tesla2.png" alt="Imagen de misión">
    </div>
    <div class="animate fadeIn fast mission-text">
      <h1>MISIÓN</h1>
      <hr>
      <p>
        Ser una empresa especializada en la comercialización de coches nuevos, usados, repuestos, accesorios, mantenimiento preventivo y correctivo y trabajos de carrocería y pintura. Contar con personal altamente cualificado, tecnología punta e infraestructura que garanticen siempre un servicio integral de máxima calidad. Cumplir con los estándares de la marca, normas ambientales y del entorno social y trabajar por el bienestar y crecimiento de nuestro talento humano.
  
        Nuestra misión está encaminada hacia la excelencia, es decir, hacia la total satisfacción del cliente, así como la de los profesionales que la integran, un comportamiento medioambiental respetuoso y la distinción del liderazgo.
      </p>
    </div>
</div>
<div class="animate fadeIn fast values-container">
    <div class="animate fadeIn fast values-text">
      <h1>VALORES</h1>
      <hr>
      <p>
        Actualmente Grupo Caeiro se inspira y actúa de acuerdo a los siguientes valores corporativos:
      </p>
      <ul>
        <li>Honestidad</li>
        <li>Honradez</li>
        <li>Compromiso</li>
        <li>Seriedad</li>
        <li>Respeto hacia las personas y el medioambiente</li>
        <li>Empatía</li>
        <li>Responsabilidad</li>
      </ul>
    </div>
    <div class="animate fadeIn fast values-image">
      <img src="assets/img/jaguar1.png" alt="Imagen de valores">
    </div>
  </div>
